/* ----------------------------------
		 Wrirer : Lee hyein
		 Date : 2020-07-01~
-------------------------------------*/

.wrap{max-width:1920px; margin:0 auto; width:100%; background-color:#ffffff; }

section{width:100%; padding-top:5%; }
article{width:90%; margin:0 auto; max-width:1400px;}

h2{
	text-align:right;
	font-size:14px;
	padding:3% 0 1% 0;
	font-weight:300;
	margin:0 auto;
}
h3{
	text-align:center;
	text-transform:capitalize;
	font-size:40px;
	font-weight:700;
	padding-bottom:4%;
}
h3 i.fa{
	font-size:30px;
}


/* Top */
header{
	width:100%;  
	background:#ffffff url('../img/bg_top.jpg') no-repeat top center;
	background-size:1920px 460px;
	padding-top:180px;
}
h4{
	font-size:22px;
	margin-bottom:12px;
	font-weight:500;
	color:#2e2e2e;
}
h4 > b{
	display:inline-block;
	font-size:16px;
	padding:6px 12px;
	background-color:#fff;
	font-weight:500;
	color:#2e2e2e;
	margin-bottom:10px;
	border-radius:2px;
	
}
.resumWrap{
	width:100%;
	background-color:#fff;
	border:1px solid #000;
}
.resumArea{
	display:table;
	width:100%;
}
.cell{
	text-align:left;
	display:table-cell;
	vertical-align:top;
}
dt.cell{
	width:33%;
	padding:40px 20px 40px 40px;
}
dd.cell{
	width:33%;
	padding:40px 20px;
}
.row{
	width:100%;
}
.strengthWrap , .careerwrap {
	width:100%;
	margin-top: 20px;	
}
.strangth-title{
	text-align:center;
}
.strangth-title img{
	width:100%;
}
.strength{
	width:100%;
	vertical-align:top;
	padding-bottom:8px;
}

.strengthWrap h5{
	padding-bottom:3px;
	color:#000;
	font-size:14px;
	text-align:left;
	font-weight:bold;
}
.strength i{
	font-size:14px;
	padding-right:10px;
}
.strengthText{
	color:#666;
	font-size:14px;
}
.mt-10{
	margin-top:10px;
}
.Career{
	width:100%;
	margin-bottom:20px;
}
.Career li{
	font-size:14px;
	line-height:1.5em;
	padding-left:10px;
	text-indent:-10px;
}
.Career li b{
	font-size:16px;
	display:block;
	padding-bottom:10px;
}
.Career .bold{
	padding-bottom:6px;
}
.profile{
	margin-top:15px;
}
.profile li{
	font-size:14px;
	line-height:1.5em;
	padding-left:10px;
	text-indent:-10px;
}
.profile li b{
	font-size:16px;
	display:block;
	padding-bottom:10px;
}
.profile li.no_left{
	padding-left:0;
	text-indent:0;
}
.Career li.no_left{
	padding-left:0;
	text-indent:0;
}




/* strength - development */
.strength-develop{
	width:100%;
}
.strength-develop img{
	width:100%;
	display:block;
}
.cc_titlebox {
    margin: 0 0 20px 0;
    font-weight: bold;
    color: #fff;
    min-width: 199px;
    max-width: 200px;
    text-align: center;
    padding: 15px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
 .cc_bg_01 {
    background-color: #3066f1 !important;
    border: 0;
    color: #fff !important;
}
 .cc_bg_02 {
    background-color: #3066f1 !important;
    border: 0;
    color: #fff !important;
}



/* strength - Design */
.strength-design{
	width:100%; 
}
.strength-design img{
	width:100%; 
	display:block;
}
.date{
	font-size:12px;
	color:#ccc;
	font-weight:lighter;
}
.btnWrap{
	width:100%;
	text-align:center;
	margin-bottom:20px;
}
.btn{
	font-size:16px;
	font-weight:bold;
	background-color:#b6082c;
	padding:10px 40px;
	color:#fff;
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
	display:inline-block;
}
.reltaive{
	position:relative;
}
.strength-develop a{
	position:absolute;
	display:inline-block;
	width:13%;
	height:10%;
}
.boot_01{
	left:6%;
	bottom:21%;
}
.boot_02{
	left:20%;
	bottom:21%;
}
.site_01{
	left:6%;
	bottom:13%;
}
.site_02{
	left:20%;
	bottom:13%;
}
.site_03{
	left:33.8%;
	bottom:13%;
}
.micro_01{
	left:6%;
	bottom:21%;
}
.hybrid_01{
	left:6%;
	bottom:19%;
}

.conBox{
	width:100%;
	background-size:820px 440px;
	height:440px;
	padding:60px;
	
}
.conBox h4{
	width:50%;
	display:inline-block;
	padding-bottom:3%;
	border-bottom:1px solid #ccc;
	color:#fff;
}
.detailBox{
	width:100%;
	padding:2% 0 3% 0;
}
.detailBox > p{
	width:100%;
	display:block;
	color:#fff;
}
.detailBox > p > span{
	display:inline-block;
	width:80px;
	font-weight:bold;
	color:#fff;
}
.box1{
	background:#055e1e url('../img/mokup.png') no-repeat center right;
}
.box2{
	background:#7b83ea url('../img/okup.png') no-repeat center right;
}
.box3{
	background:#43655c url('../img/develop_01.png') no-repeat center right;
}
.box4{
	background:#7b83ea url('../img/develop_02.png') no-repeat center right;
}
.box5{
	background:#43655c url('../img/develop_03.png') no-repeat center right;
}
.box6{
	background:#7b83ea url('../img/develop_04.png') no-repeat center right;
}
.boxbtnArea > a{
	position:static;
	display:inline-block;
	width:160px;
	height:52px;
	line-height:52px;
	text-align:center;
	margin-right:16px;
	background-color:rgb(255, 255, 255);
	border-radius:4px;
	color:#262626;
}


/* strength - Leadership */
.strength-leadership{
	width:100%; 
}


/* swipper */
.swiperWrap .swiper-container{
	margin:0 auto;
	text-align:center;
	padding-bottom:6%;
}
.swiperWrap .swiper-slide{
	width:400px;
}
.swiper-slide .swiper-image{
	width:100%; 
	transform: scale(1); 
	transition-property: transform;
	transition-duration: 0.4s; 
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.15);
	background-color:#fff;
}
.swiper-slide.swiper-slide-active .swiper-image { 
	transform: scale(1);
}
.swiper-slide .material-icons{
	margin:0 auto;
	font-size:30px;
}
.swiper-slide .swiper-image figure img{
	display:block;
	width:100%; 
	margin:0 auto;
}
.swiper-slide.swiper-slide-active figcaption{
	width:100%;
}
.swiper-slide figcaption{
	width:100%; 
	padding:3% 0;
}
.swiper-slide figcaption b{
	display:block;
	width:100%;
	padding:10px 0;
	font-size:18px;
}
.swiperWrap .swiper-container-horizontal > .swiper-scrollbar {
    left: 0;
    right: 0;
    bottom: 0;
    width: 384px;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
}
.swiperWrap .swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag {
  height: 4px;
  background: rgba(0, 0, 0, 1);
  border-radius: 0;
}
.swiper-button-prev{
	width:50px;
	height:50px;
}
.swiper-button-next{
	width:50px;
	height:50px;
}
.swiper-pagination{
	display:none;
}

/* Footer */
footer{
	width:100%;
	border-top:1px solid #ccc;
	padding:20px 0;
	text-align:center;
	font-size:14px;
	margin-top:6%;
}


/* ---------------------------------------------------------------------
                                       mobile
------------------------------------------------------------------------ */

@media screen and (max-width:767px) {

	.resumArea{
		display:block;
		width:100%;
	}
	.cell{
		display:block;
	}
	dt.cell{
		width:100%;
		padding:6%;
	}
	dd.cell{
		width:100%;
		padding:6%;
	}
	h3{
		font-size:20px;
		padding-bottom:4%;
	}
	h3 i.fa{
		font-size:16px;
	}
	footer
		font-size:12px;
	}

}






